---
//https://api.artic.edu/docs/#quick-start
//https://api.artic.edu/api/v1/artworks?page=1&limit=10
import ArtCard from './ArtCard.astro';
import { getExamples } from '../services/ArtInstituteOfChigago';

const data = await getExamples();

console.log(data);
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {
        data.map( (piece) => (
            <ArtCard id={piece.id} title={piece.title} image_id={piece.image_id} description ={piece.description} artist={piece.artist_title} is_public_domain={piece.is_public_domain} />
        ))
    }
    
</div>